{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jungkins</title>
    <style>
        img {
            display: inline;
            width: 200px;
        }
        h1 {
            display: inline;
        }
        .content {
            width : 200px;
            height: 200px;
            display: block;
            margin-top: 10px;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script>
        // CSRF 토큰을 JavaScript 변수에 저장
        const csrftoken = '{{ csrf_token }}';
    </script>
</head>
<body>
    <img src="{% static 'images/jungkins2.jpeg' %}" alt="jungkins">
        <textarea class="content"></textarea>
        <input type="button" class="btnAjax" value="TEST" data-url="{% url 'zimmyrabbit:check_model'%}">
        <div class="svnlog"></div>
</body>
</html>

<script>
    let btnAjax = document.querySelector('.btnAjax');

    btnAjax.addEventListener('click', e=> {
        let content = document.querySelector('.content').value;
        let param = {
            'content' : content,
        }

        let url = btnAjax.getAttribute('data-url');

        $.ajax({
            url : url,
            type : 'POST',
            data : JSON.stringify(param),
            headers: {
                'X-CSRFToken': csrftoken // CSRF 토큰 요청 헤더에 포함
            },
            success : function(data) {
                
                let str = '';
                str += '<table>';

                for(var i=0; i<data.account.length; i++) {
                    str += "  <tr>";
			 		str += "	  <td>" + data.account[i] + "</td>";
			 		str += "   	  <td>" + data.commitLogs[i] + "</td>";
                    str += "   	  <td>" + data.dates[i] + "</td>";
			 		str += "  </tr>"
                }
                str += '</table>'
                $(".svnlog").html(str);
            },
            error: function() {
                console.log('error');
            }
        });
    });

</script>